pdf2image
pytesseract
opencv-python-headless>=4.2.0
numpy
xlsxwriter
openai
google-api-python-client
google-auth
google-auth-oauthlib
pydantic
python-dotenv
fastapi
uvicorn
python-multipart
requests==2.32.3
thefuzz==0.22.1
python-levenshtein==0.26.1
requests-toolbelt==1.0.0
